<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry Up</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <!-- Mobile Navbar -->
    <div class="menumob">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logomob">Hungry Up</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="https://github.com/sokadz">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Hungry Up</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://github.com/sokadz">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Hungry Up</h1>
            <p class="herosubtitle">Let's explore the best restaurants across Indonesia.</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Hungry Up</p>
    </footer>
</body>
</html>